<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Seznam projektů</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>
<body>
<!-- Menu -->
<nav th:insert="~{fragments/menu.html}"></nav>

<div class="container list-container">

    <!-- Errors -->
    <div th:insert="~{fragments/error.html}"></div>

    <div class="d-flex justify-content-between align-items-center list-header">
        <h2>Seznam projektů</h2>
        <a class="btn btn-primary" th:href="@{/project/new}">Přidat projekt</a>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Název</th>
            <th>Utracená částka</th>
            <th>Počet transakcí</th>
            <th>Datum poslední transakce</th>
            <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.name}"></td>
            <td th:text="${project.spentAmount} + ' Kč'"></td>
            <td th:text="${project.sumOfTransactions}"></td>
            <td th:text="${project.lastTransactionDate}"></td>
            <td class="actions">
                <a class="btn btn-sm btn-info" th:href="@{/project/{id}(id=${project.id})}">Detail</a>
                <a class="btn btn-sm btn-warning" th:href="@{/project/{id}/edit(id=${project.id})}">Upravit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
